.modal-dialog-center {
    margin-top: 25%;
}

.centered {
    text-align: center;
}

.text-right {
    float: right;
}

.page-header {
    margin: 20px 0 20px;
}

.game-box {
    width: auto;
    display: block;
}

h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.well {
    padding: 10px;
}
