.modal-dialog-center {
    margin-top: 25%;
}

.centered {
    text-align: center;
}

.text-right {
    float: right;
}

.page-header {
    margin: 20px 0 20px;
}

.game-box {
    width: auto;
    display: block;
}

.rule-span-left {
    border-left: 1px solid #646464;
}

.rule-span-right {
    border-right: 1px solid #646464;
}