.modal-dialog-center {
    margin-top: 25%;
}

.centered {
    text-align: center;
}

.text-right {
    float: right;
}

@font-face {
    font-family: 'comic2';
    src: url('../fonts/comic.ttf');
}

.app-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}