<div class="center-block">
    <div class="modal fade" id="modalWait" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Режим "Дуэль"</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Ждите соперника&hellip;</p>
                </div>
            </div>
        </div>
    </div>
</div>