<div class="panel panel-default">
    <div class="panel-heading">
        <!--TODO show me first and competitor second-->
        {{duel.player1.name}}: <span class="badge">{{duel.player1.score}}</span>
        {{duel.player2.name}}: <span class="badge">{{duel.player2.score}} </span>
        <span class="pull-right" timer="7"></span>
    </div>
    <div class="panel-body">
        <canvas id="gameCanvas" width="800" height="600" style="border:1px solid #FFFFFF;">
            Your browser does not support canvas
        </canvas>
    </div>
</div>