<div>
    <div class="list-group center-block">
        <a href="#tournament" class="list-group-item text-center"><strong>Турнир</strong></a>
        <a href="#duel" class="list-group-item text-center"><strong>Дуэль</strong></a>
        <a href="#training" class="list-group-item text-center"><strong>Тренировка</strong></a>
        <a href="#rating" class="list-group-item text-center"><strong>Рейтинг</strong></a>
        <a href="#" class="list-group-item text-center"><strong>Настройки</strong></a>
    </div>
</div>