<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><img src="img/piter-grad.jpg" class="img-thumbnail"></div>
        <div class="col-md-4"></div>
    </div>

    <ul class="nav nav-pills nav-stacked text-center">
        <li><a href="#tournament"><i class="fa fa-exchange fa-fw"></i> Турнир</a></li>
        <li><a href="#duel"><i class="fa fa-exchange fa-fw"></i> Дуэль</a></li>
        <li><a href="#training"><i class="fa fa-gamepad fa-fw"></i> Тренировка</a></li>
        <li><a href="#rating"><i class="fa fa-trophy fa-fw"></i> Рейтинг</a></li>
        <li><a href="#settings"><i class="fa fa-cogs fa-fw"></i> Настройки</a></li>
        <li><a href="" ng-click="exit()"><i class="fa fa-sign-out fa-fw"></i> Выход</a></li>
    </ul>
</div>