<div class="container">
    <div class="well">
        <h5>Рейтинг участников</h5>
        <hr>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Участник</th>
                <th class="text-center">Дуэли</th>
                <th class="text-center">Очки</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in players | orderBy: '-score'" ng-animate="'fade'">
                <td>{{$index+1}}</td>
                <td>{{player.name}}</td>
                <td class="text-center">{{player.tournaments}}</td>
                <td class="text-center">{{player.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>