<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pull-right">
                <img src="img/name.png" class="img-rounded">
                <a href=""><i class="fa fa-umbrella fa-fw"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="well">
        <h5>Регистрация участника</h5>
        <hr>

        <form class="form-horizontal" role="form" name="registrationForm">
            <div class="form-group">

                <div class="col-lg-4">
                    <input type="text" name="name" class="form-control" placeholder="Имя"
                           ng-model="playerName" ng-trim required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-4">
                    <div class="btn-group">
                        <button class="btn btn-success" type="button" ng-click='start()'
                                ng-disabled="!registrationForm.$valid">Поехали!
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
