<div class="container">
    <div class="well">
        <h5>Очки: <span class="badge">{{score}}</span><span class="pull-right" timer="7"></span></h5>
        <hr>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div>
                    <canvas field>
                        Your browser does not support canvas
                    </canvas>
                </div>
                <div>
                    <a href=""><img src="img/rainbow.png"/></a>
                    :
                    <a href=""><img src="img/spoon.png"/></a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
