<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Очки: <span class="badge">{{score}}</span><span class="pull-right" timer="7"></span></h5>
    </div>
    <div class="panel-body">
        <div id="game">
            <canvas field>
                Your browser does not support canvas
            </canvas>
        </div>
        <div class="btn-group">
            <a href="" class="btn primary"><img src="img/rainbow.png" class="pull-left"/></a>
            <a href="" class="btn primary"><img src="img/spoon.png" class="pull-left"/></a>
        </div>
    </div>
</div>
