<div class="panel panel-default" ng-init="getScenario()">
    <div class="panel-heading">
        Очки : <span class="badge">{{score}}</span>
        <span class="pull-right" timer="30"></span><!-- TODO: handle from scenario -->
    </div>
    <div class="panel-body">
        <canvas id="gameCanvas" class="panel-body" field>
            Your browser does not support canvas
        </canvas>
        <a href=""><img src="img/rainbow.png"/></a>
        :
        <a href=""><img src="img/spoon.png"/></a>
    </div>
</div>