<div class="container">
    <div class="well">
        <h5>Режим "Дуэль"</h5>
        <hr>

        <h6 class="text-center"><strong>Ждите соперника &hellip;</strong></h6>

        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%">
            </div>
        </div>
        <div class="centered">
            <button type="button" class="btn btn-success btn-small" ng-click="cancel()">Отмена</button>
        </div>
    </div>
</div>